* {
  box-sizing: border-box;

}

body {
  margin: 0;
  min-height: 100vh;
}

#root {
  background: #e9e5ef;
  margin: 0;
  height: 100%;
  width: 100%;
}

main {
  padding: 25px;
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
}

section {
  flex: 1;
  min-width: max(300px, 30%);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

button {
  all: unset;
  padding: 3px 10px;
  border-radius: 2px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  margin: 0.5rem;
  line-height: 1rem;
  height: 2rem;
  color: #efefef;
  text-align: center;
  background-color: #1d4c9c;
  cursor: pointer; 
  transition: 0.15s all ease-in;
}

button:hover {
  filter: invert(1)
}

div {
  background-color: #3c3c4d;
  border-radius: 6px;
  padding: 10px;
  width: 100%;
  min-height: 60px;
  transition: all 0.5s ease;
}

div:hover {
  background-color: #6c6c7d;
}
