* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

#app {
  background: #c9c4d1;
  margin: 0;
  height: 100%;
  width: 100%;
}

main {
  padding: 25px;
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
}

section {
  flex: 1;
  min-width: max(300px, 30%);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

button {
  all: unset;
  padding: 3px 10px;
  border-radius: 6px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  margin: 0.5rem;
  line-height: 1rem;
  height: 2rem;
  color: #efefef;
  text-align: center;
  background-color: #6210cc;
  cursor: pointer;
  transition: 0.15s all ease-in;
}

button:hover {
  background-color: #baa9ff;
  color: #39363e;
}

div {
  background-color: #57535f;
  border-radius: 6px;
  padding: 10px;
  width: 100%;
  min-height: 60px;
  transition: all 0.5s ease;
}

div:hover {
  background-color: #7e7a88;
}
