#root {
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
}

body {
  margin: 0;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  margin: 0.5rem;
  color: #39363e;
  text-align: center;
}

#zeus-participant,
#hera-participant {
  position: relative;
  border-radius: 6px;
  top: 5rem;
  width: 100%;
  height: 400px;
}

button {
  all: unset;
  padding: 3px 10px;
  border-radius: 6px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  margin: 0.5rem;
  font-weight: bold;
  line-height: 1.5rem;
  height: 2rem;
  color: #efefef;
  text-align: center;
  background-color: #6210cc;
  cursor: pointer;
  transition: 0.15s all ease-in;
  align-self: center;
}

button:hover {
  background-color: #baa9ff;
  color: #39363e;
}

.infos {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 15;
  display: flex;
  flex-direction: column;
}

.forge-viewer {
  top: 0px !important;
  position: fixed;  
  width: 100vw !important;
  height: 100% !important;
  z-index: 0;
}

.forge-container {
  width: 100%;
  height: 100%;
  position: relative;
}