body {
  background: #e9e5ef;
  margin: 0;
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

section {
  flex: 1;
  flex-basis: 330px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

section:first-of-type {
  margin-right: 0;
}

iframe {
  background-color: #c9c4d1;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  border: none;
}
