.App {
  font-size: 16px;
}

.App a {
  display: inline-block;
  font-size: 18px;
  background: darkblue;
  color: #fff;
  padding: 0.5rem 1rem;
  margin-left: 10px;
  text-decoration: none;
}

#place {
  background: orange;
  width: 80vh;
  height: 80vh;
  margin: 0 auto;
}
