body {
  background: #e9e5ef;
  margin: 0;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#root,
.section {
  width: 100%;
  height: 100%;
}

canvas {
  background-color: #c9c4d1;
  width: 100%;
  height: 100%;
}